DATABASE_URL="postgres://username:password@localhost:5432/database"

AUTH_SECRET="your-auth-secret"
CRON_SECRET="your-cron-secret"

GIC_MARKUP_RATE=0.2
SPINZO_MARKUP_RATE=0.2

EXCHANGE_RATE_API_URL="https://v6.exchangerate-api.com/v6"
EXCHANGE_RATE_API_KEY="your-api-key"

BANK_NAME_LOTTO="BANK OF PHI LOTTO"
BANK_ACCOUNT_NAME_LOTTO="JANE DOE"
BANK_ACCOUNT_NUMBER_LOTTO=0000000001011

BANK_NAME_EXCHANGER="BANK OF PHI EXCHANGER"
BANK_ACCOUNT_NAME_EXCHANGER="Jane Doe"
BANK_ACCOUNT_NUMBER_EXCHANGER=0000000001012

AUTH_TRUST_HOST=true
APP_URL="http://localhost:3000"

S3_BUCKET=exchange
S3_ACCESS_KEY="your-s3-access-key"
S3_SECRET_KEY="your-s3-secret-key"
S3_HOST="sgp1.vultrobjects.com"
S3_HOST_BUCKET="exchange.sgp1.vultrobjects.com"
S3_ROOT_PATH="spinzopay_v2x"

BOT_TOKEN="your-telegram-bot-token"
TELEGRAM_CHAT_ID="your-telegram-chat-id-or-comma-separated-ids"
